#burg-eaten{
    border:1pt solid black;
}

#burg-uneaten{
    border:1pt solid black;
}

.uneaten{
    margin-top:10px;
}

.burger{
    margin-top:10px;
}

.eat-burger{
    margin-left:15px;
    border-radius: 5px;
}

#burger-name{
    margin-top:20px;
    margin-bottom:20px;
    width: 30%;
    height:75px;
}