body{
    background-image: URL("../images/plad.jpg");
}
.col-md-12{
background-color: white;
border-right:3pt solid black;
border-left:3pt solid black;
}
.burger-top{
    border-top:3pt solid black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.burger-left{
    border-left:3pt solid black;
}

.burger-right{
    border-right:3pt solid black;
}

.head-burger{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 20pt;
    margin-bottom:20px;
}

.main-head{
    font-family: 'Bebas Neue', cursive;
    font-size: 36pt;
    margin-bottom:60px;
}

.form-main{
    border-bottom:3pt solid black;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.uneaten{
    margin-top:10px;
    font-family: 'Zilla Slab', serif;
}

.burger{
    margin-left:90px;
    font-family: 'Zilla Slab', serif;
}

.eat-burger{
    margin-left:15px;
    border-radius: 5px;
    margin-right:120px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color:white;
    font-family: 'Alfa Slab One', cursive;
}

#burger-name{
    margin-top:20px;
    margin-bottom:20px;
    width: 30%;
    height:75px;
}

#burg-eaten{
    background-color: white;
}

#burg-uneaten{
    background-color: white;
}

.burger-new{
    font-family: 'Alfa Slab One', cursive;
    margin-bottom:50px;
    border:2pt solid black;
    background-color: red;
    color:white;
    border-radius: 5px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#img-berg{
    margin-top:30px;
}